<h2 mat-dialog-title class="text-center font-weight-bold mat-background-primary">Create your new todo</h2>

<mat-dialog-content [formGroup]="todoForm">
  <mat-form-field>
    <input matInput placeholder="Title" formControlName="title" required>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Description" formControlName="description" matTextareaAutosize></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select status" formControlName="state">
      <mat-option selected [value]="false">
        In progress</mat-option>
      <mat-option [value]="true">
        Done</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">
    Close
  </button>
  <button class="mat-raised-button mat-primary ml-auto font-weight-bold"
    [disabled]="todoForm.pristine || todoForm.invalid" (click)="save()">
    Save
  </button>
</mat-dialog-actions>